/*
Theme Name: Betheme
Author: Muffin group
Description: The biggest WordPress Theme ever
Theme URI: http://themes.muffingroup.com/betheme
Author URI: http://muffingroup.com
License: Themeforest Split Licence
License URI: -
Version: 12.4

All css files are placed in /css/ folder
*/
.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
}
.fa-facebook-official{aligin:right;, float:center;  text-align: right; font-size: 200%;  font-weight: 900; zoom:1.5;}
.icon-menu{zoom:2;}

.fa-flickr{aligin:right;, float:center;  text-align: right; font-size: 200%;  font-weight: 900; zoom:1.5;}
.fa-google-plus-official{aligin:right;, float:center;  text-align: right; font-size: 200%;  font-weight: 900; zoom:1.5;}

H2 {
  /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: 1px black;
  
  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */
  
  color: white;
  
  text-shadow:
    3px 3px 0 #ffffff,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #ffffff,  
    1px -1px 0 #ffffff,
   -1px  1px 0 #ffffff,
    1px  1px 0 #ffffff;
}
#H2 { text-shadow: 4px 4px #000000; }
#H2 { text-shadow: 2px 2px #ffffff; }
#logo{

}
#menu-main-menu{
zoom:1.05;

}
#menu-main-menu  > li > a > span{

padding:10px;
margin:10px;
border-radius: 1em 1em 1em 1em;
-webkit-transition: all 0.5s ease-in-out;
}
#menu-main-menu  > li > a > span:hover{
background-color: rgba(255, 255, 200, 0.95);
color:blue;
border-radius: 1em 1em 1em 1em;
-webkit-transition: all 0.5s ease-in-out;
}
.menu_wrapper{
background-color: rgba(255, 235, 0, 0.45);


border-radius: 1em 1em 1em 1em;
-webkit-transition: all 0.5s ease-in-out;

}
