/*RIGHT PANEL*/
#right-panel {
    zoom: 70% !important;
    width: 590px;
    border: 2px solid #004fff;
    background-color: #ccc;
    position: fixed;
    top: 50px;
    right: -590px;
    border-radius: 1em 1em 1em 1em;
    padding: 5px;
    -webkit-transition: all 0.5s ease-in-out;
}

/*RIGHT PANEL*/
.right-panel {
    zoom: 70% !important;
    width: 590px;
    border: 2px solid #004fff;
    background-color: #ccc;
    position: fixed;
    top: 50px;
    right: -590px;
    border-radius: 1em 1em 1em 1em;
    padding: 5px;
    -webkit-transition: all 0.5s ease-in-out;
}

#right-panel:hover {
    right: -50px;
}

#right-panel.show {
    right: -5px;
    /*zoom:50% !important;*/
}

/*#right-panel a.controller {*/
/*position: absolute;*/
/*right: 5px;*/
/*top: 5px;*/
/*text-decoration: none;*/
/*-webkit-transition: all 0.5s ease-in-out;*/
/*color: black;*/
/*font-weight: bold;*/
/*}*/

/*.box-right {*/
/*margin-top: -266px;*/
/*margin-left: 20px;*/
/*border-radius: 1em 1em 1em 1em;*/
/*padding: 5px;*/
/*-webkit-transition: all 0.5s ease-in-out;*/
/*}*/
.verticaltext {
    position: relative;
    right: 37px;
    font-size: 100%;
    font-weight: 200;
    border-radius: 1em 1em 1em 1em;
    background-color: rgba(0, 96, 255, 0.8) !important;
    width: 30px;
    padding: 15px 7px 15px 5px;
}

/*LEFT PANEL*/
#left-panel {

    z-index: 99 !important;
    width: 300px;
    /*border: 1px solid #004fff;*/
    /*background-color: #ccc;*/
    position: fixed;
    top: 70px;
    left: -300px;
    border-radius: 1em 1em 1em 1em;
    /*padding: 5px;*/
    -webkit-transition: all 0.5s ease-in-out;
}

/*LEFT PANEL*/
.left-panel {
    width: 316px;
    z-index: 99 !important;
    border-radius: 1em 1em 1em 1em;
    /*padding: 5px;*/
    -webkit-transition: all 0.5s ease-in-out;
}

#left-panel:hover {
    left: 0;
}

.verticaltextleft {
    text-align: right;
    color: #fff402;
    /*zoom: 70%;*/
    z-index: 99 !important;
    position: absolute;
    top: 55px !important;
    right: -33px;
    float: right;
    font-size: 200%;
    font-weight: 200;
    border-radius: 1em 1em 1em 1em;
    border-color: #00fff9;
    background-color: rgba(2, 59, 161, 0.8) !important;
    width: 33px;
    padding: 15px 7px 10px 5px;
    margin: 2px;
}
.lefticons{
    text-align: right;
    color: #fff402;
    zoom: 100%;
    z-index: 999 !important;
    position: absolute !important;
    top: 335px;
    right: -30px;
    float: right;

    border-color: #00fff9;
    background-color: rgba(2, 59, 161, 0.8) !important;
    width: 30px;
    padding: 10px 7px 10px 5px;
}
/*!* ----------- MENU ITEMS ------------- *!*/

/*!* --------- search box --------- *!*/
/*#select-search {*/
    /*border-radius: 0 0 0.5em 0.5em;*/
/*}*/

/*#select-search:hover {*/
    /*border-radius: 0 0 0 0;*/
/*}*/

/*#select-search:focus {*/
    /*border-radius: 0 0 0 0;*/
/*}*/

/*#searchbox {*/
    /*border-radius: 0.5em 0 0 0;*/
/*}*/

/*#search-submit {*/
    /*border-radius: 0 0.5em 0 0 ;*/
/*}*/

/*#select-search{*/
    /*background-color: white !important;*/
    /*color: darkblue;*/
/*}*/
/*#select-search > option{*/
    /*color: darkblue;*/
/*}*/

/*!* --------- dropdown calendar types --------- *!*/
/*#la_calendar > div > div.dropdown-menu.panel-body {*/
    /*background-color: #0054a3 !important;*/
    /*color: white;*/
/*}*/

/*#la_calendar > div > div.dropdown-menu.panel-body > a {*/
    /*color: #ffffff !important;*/
/*}*/

/*#la_calendar > div > div.dropdown-menu.panel-body > a:hover {*/
    /*color: #010c7b !important;*/
/*}*/

/*#la_calendar .open > button > a > i {*/
    /*color: #ffffff !important;*/
/*}*/

/*#la_calendar .open > button > a {*/
    /*color: #ffffff !important;*/
/*}*/

/*#side-menu-calendar-dropdown {*/
    /*zoom: 0.8;*/
    /*width: 100%;*/
/*}*/


/*!* --------- admin side panel buttons  --------- *!*/
/*.admin_btn_left:hover {*/
    /*background-color: #3971ff !important;*/
    /*color: white !important;*/
/*}*/

/*.admin_btn_left:hover > i {*/
    /*background-color: #3971ff !important;*/
    /*color: white !important;*/
/*}*/

/*.admin_btn_left:hover > a {*/
    /*background-color: #3971ff !important;*/
    /*color: white !important;*/
/*}*/
/*.admin_btn_left:hover > button > i {*/
    /*background-color: #3971ff !important;*/
    /*color: white !important;*/
/*}*/

/*.admin_btn_left:hover > button > a {*/
    /*background-color: #3971ff !important;*/
    /*color: white !important;*/
/*}*/


/*!* --------- current site button class --------- *!*/
/*.admin_current {*/
     /*color: #000000;*/
    /*background-color: #2bc0ff !important;*/
/*}*/
/*.admin_current > button > a {*/
     /*color: #000000;*/
    /*background-color: transparent;*/
/*}*/
/*#ia_calendar.admin_current{*/
     /*color: #000000;*/
     /*background-color: transparent!important;*/
/*}*/
/*#bt_calendar.admin_current > a{*/
      /*color: #000000 !important;*/
/*}*/
/*.admin_current:hover {*/
    /*background-color: #2bc0ff !important;*/
/*}*/
/*.admin_current > button:focus > a > i {*/
     /*background-color: transparent;*/
/*}*/
/*.admin_current > button:hover > a > i {*/
     /*background-color: transparent;*/
/*}*/
/*.admin_current:hover > i {*/
    /*color: #ffffff  !important;*/
    /*background-color: transparent;*/
/*}*/
/*.admin_current:hover > a {*/
    /*color: #ffffff  !important;*/
    /*background-color: #2bc0ff !important;*/
/*}*/
/*.admin_current:hover > button > i {*/
     /*!*color: #000000 !important;*!*/
    /*background-color: transparent;*/
/*}*/
/*.admin_current:hover > button > a {*/
 /*color: #000000 !important;*/
    /*background-color: #2bc0ff !important;*/
/*}*/



/*!* --------- dropdown calendar types  --------- *!*/
/*#bt_calendar:hover {*/
    /*background-color: #3971ff !important;*/
    /*color: white !important;*/
        /*border-color: #0054a3 !important;*/
/*}*/

/*#bt_calendar:hover > i {*/
    /*background-color: #3971ff !important;*/
    /*color: white !important;*/
        /*border-color: #0054a3 !important;*/
/*}*/

/*#bt_calendar:hover > a > i {*/
    /*background-color: #3971ff !important;*/
    /*color: white !important;*/
        /*border-color: #0054a3 !important;*/
/*}*/

/*#bt_calendar:hover > a {*/
    /*background-color: #3971ff !important;*/
    /*color: white !important;*/
    /*border-color: #0054a3 !important;*/
/*}*/

/*#bt_calendar {*/
    /*border-width: 1px !important;*/
    /*border-color: #0054a3 !important;*/
/*}*/
